# This is an example config file for Pygr, listing all sections
# and keywords supported at the moment.

[megatests]
expectedRunningTime = 11
logDir = /result/pygr_megatest/src_save
mailFrom = testrunner@somehost.edu
mailTo_failed = somethingswrong@pygr.org, logger@pygr.org, dev@bugfix.org
mailTo_ok = wentokay@pygr.org, logger@pygr.org
runningTimeAllowedDelay = 9
testInputDB = PYGRDB_JAN06
testInputDir = /result/pygr_megatest
testOutputBaseDir = /usr/tmp/deepreds

[megatests_dm2]
smallSampleKey = chrYh
smallSampleKey_nlmsa = chr4h
mafDir = /result/pygr_megatest/maf_data
msaDir = /result/pygr_megatest/maf_test
seqDir = /result/pygr_megatest/seq_data

[megatests_hg18]
smallSampleKey = chrY
axtDir = /result/pygr_megatest/axt_data
mafDir = /result/pygr_megatest/maf_data3
msaDir = /result/pygr_megatest/maf_test3
seqDir = /result/pygr_megatest/seq_data3

