*.pyc
*~
.figleaf
all_vs_all.NLMSAindex
all_vs_all.attrDict
all_vs_all.idDict
all_vs_all.seqDictP
all_vs_all.seqIDdict
all_vs_all0.idb
all_vs_all0.index
all_vs_all0.size
all_vs_all0.subhead
all_vs_all1.idb
all_vs_all1.index
all_vs_all1.size
all_vs_all1.subhead
err0.tmp
err1.tmp
err10.tmp
err11.tmp
err12.tmp
err13.tmp
err14.tmp
err15.tmp
err16.tmp
err17.tmp
err2.tmp
err3.tmp
err4.tmp
err5.tmp
err6.tmp
err7.tmp
err8.tmp
err9.tmp
formatdb.log
sp_hbb1.phr
sp_hbb1.pin
sp_hbb1.psd
sp_hbb1.psi
sp_hbb1.psq
sp_hbb1.pureseq
sp_hbb1.seqlen
tryannot.NLMSAindex
tryannot.attrDict
tryannot.idDict
tryannot.seqIDdict
tryannot0.idb
tryannot0.index
tryannot0.size
tryannot0.subhead
tryannot1.idb
tryannot1.index
tryannot1.size
tryannot1.subhead
dnaseq.pureseq
dnaseq.seqlen
